
MediaElementTest/.DS_Store
.DS_Store
MediaElementTest/.vs/MediaElementTest/xs/project-cache/MediaElementTest-Debug-net7.0-ios.json
MediaElementTest/.vs/MediaElementTest/xs/project-cache/MediaElementTest-Debug-net7.0-maccatalyst.json
MediaElementTest/.vs/MediaElementTest/xs/UserPrefs.xml
